/*Центрирование в области просмотра*/
.center {
  position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
}
/*Центрирование по вертикали*/
div.container3 {
  height: 10em;
  position: relative /* 1 */
}              
div.container3 p {
  margin: 0;
  position: absolute;               /* 2 */
  top: 50%;                         /* 3 */
  transform: translate(0, -50%) 
}   /* 4 */
/*
Основные правила:
1. Сделайте контейнер относительно позиционированным (position: relative), 
  что превратит его в контейнер для абсолютно позиционированных элементов.
2. Сам элемент сделайте абсолютно позиционированным (position: absolute).
3. Поместите элемент посередине контейнера с помощью 'top: 50%'. 
  (Заметьте, что '50%' здесь означают 50% высоты контейнера.)
4. Используйте translate, чтобы переместить элемент вверх 
  на половину своей собственной высоты. ( '50%' в 'translate(0, -50%)' указывают на высоту самого элемента.)
*/